/*SECCION DESCUBRE*/

#acompa {
    width: 90%;
    max-width: 1900px;
    text-align: center;
    margin: 30px auto;
    font-family: 'Righteous-regular', sans-serif;
    margin-bottom: 0rem;
    padding-top: 1rem;
    position: relative;
}

.acpt .titleSectionacpt{
    color:#352975;
    font-size:3.125rem;
    margin: 50px 0;
}
.acpt .CardsSectionacpt {
    display: flex;
    justify-content: space-evenly;
    width: 94%;
    margin: 10rem auto;
    padding-right: 4rem;
}

.acpt .itemSectionDescubreacpt {
    width: 50%;
    background: white;
    height: 23.25rem;
    box-shadow: 3px 3px 20px #00000029;
    border-radius: 20px;
    margin: 1rem;
}

.acpt .topSectionCardacpt{
    height: 153px;
    padding-top: 2rem;
    position: relative;
    width: 100%;
}

.acpt .topSectionCardacpt h2 {
    rotate: -90deg;
    position: absolute;
    top: 175px;
    left: 0;
    color: #785BA7;
    font-size: 1.75rem;
    width: 70px;
    z-index: 3;
}
img.wathc {
    width: 16px;
    position: absolute;
    left: 23px;
}

.acpt .topSectionCardacpt img{
    position: absolute;
    top: -114px;
    right: 0px;
    width: 75%;
    z-index: 9;
}

.acpt .contentCardsacpt {
    width: 100%;
    position: relative;
    top: 0rem;
    height: 5rem;
    overflow: hidden;
    background-color: white;
    z-index: 1;
    padding-top: 5rem;
}

.acpt .contentCardsacpt::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    background-image: url(../../images/flechas.svg);
    transition: bottom 0.3s;
    z-index: -1;
    background-size: 100% 330px;
}

.acpt .contentCardsacpt:hover::after {
    bottom: 0;
}

.acpt .rowCardsacpt {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.acpt .rowCardsacpt h3 {
    font-size: 1.125rem;
}
.acpt .directivosItemacpt *{
    color:#785BA7!important;
}
.acpt .docentesItemacpt *{
    color:#A369B8!important;
}

.acpt .familasItemacpt *{
    color:#E087B8!important;
}
.acpt .rowCardsacpt .itemCardsRowsacpt {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.acpt .rowCardsacpt .itemCardsRowsacpt img {
    width: 20px;
}
.contentCardsacpt ul {
    width: 50%;
    position: relative;
    left: 0;
    margin: -67px auto 0 auto;
    text-align: left;
}

.contentCardsacpt ul li {
    margin-bottom: 10px;
}

.familasItemacptTransforma img.logoTrans {
    width: 327px;
    margin-top: 19px;
}

.familasItemacptTransforma .itemCardsRows {
    display: flex;
    width: 59%;
    justify-content: space-around;
}

.contentCardsacpt button {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 51px;
    background: #A369B8;
    color: white;
    font-weight: bold;
    margin: 6px;
    border-style: none;
    position: relative;
}

.itemCardsRows.dr {
    width: 291px;
    margin: 0 auto;
    position: relative;
    top: -50px;
}
.botonBoxSecuencia {
    position: relative;
    top: -30px;
}

.imgDos{
    display: none;
}
.dr a:after {
    content: '';
    width: 65px;
    height: 65px;
    margin-bottom: 0rem;
    background: white;
    position: absolute;
    display: block;
    top: -17px;
    z-index: -1;
    border-radius: 49px;
    left: -15px;
}

.dr a:hover:after {
    background: #785BA7!important;
}


.dr a:hover .imgDos {
    display: block!important;
}
.dr a:hover .imgUno {
    display: none!important;
}
.imgDos {
    width: 32px;
}
@media(max-width:1500px){
    .contentCardsacpt ul {
        width: 80%;
        position: relative;
        left: 0;
        margin: -67px auto 0 auto;
        text-align: left;
    }
    .acpt .topSectionCardacpt h2 {
        rotate: -90deg;
        position: absolute;
        top: 136px;
        left: 0;
        color: #785BA7;
        font-size: 1.50rem;
        width: 70px;
        z-index: 3;
    }
}

@media(max-width:1300px){
    section#acompa {
        padding-top: 0;
        margin: 24px auto;
    }
}

@media(max-width:1250px){
    .acpt .CardsSectionacpt {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .acpt .itemSectionDescubreacpt {
        width: 72%;
        background: white;
        height: 23.25rem;
        box-shadow: 3px 3px 20px #00000029;
        border-radius: 20px;
        margin: 1rem 0rem 8rem 2rem;
    }
    .familasItemacptTransforma img.logoTrans {
        width: 100%;
        margin-top: 19px;
    }
    
}


@media(max-width:800px){
    .acpt .CardsSectionacpt {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 500px;
        padding: 0;
    }
    #acompa {
        margin: 109px 0px -200px 0 !important;
        width: 100%;
    }
    .acpt .titleSectionacpt {
        color: #352975;
        font-size: 3.125rem;
        margin: -100px 0 114px 0;
    }
  
 
    .itemSectionDescubreacpt.familasItemacptTransforma {
        margin: -4rem 0rem 8rem 2rem !important;
    }
    .acpt .itemSectionDescubreacpt {
        width: 81%;
        background: white;
        height: 23.25rem;
        box-shadow: 3px 3px 20px #00000029;
        border-radius: 20px;
        margin: 1rem 0rem 8rem 2rem;
    }
}

@media(max-width:600px){
    .acpt .titleSectionacpt {
        color: #352975;
        font-size: 2.125rem;
        margin: -100px 0 114px 0;
    }
    .acpt .CardsSectionacpt {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }
}