<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compartir</title>
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/sections/descubre-section.css">
    <link rel="stylesheet" href="../assets/css/sections/nuestra-propuesta.css">
    <link rel="stylesheet" href="../assets/css/sections/evaluar-para-aprender.css">
    <link rel="stylesheet" href="../assets/css/sections/acompanante.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/menu-movies.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <!---FUENTES--->

  </head>
  <body>
    <!---HEADER--->
    <header class="desktop">
      <div class="headContent">  
            <div class="menuGeneral">
                <div class="logo">
                    <img src="../assets/images/logo.PNG" alt="">
                </div>
                <div class="menuItemsGeneral">
                    <nav>
                        <ul>
                            <li><a href="#descubre">DESCUBRE</a></li>
                            <li><a href="#propuesta">NUESTRA PROPUESTA</a></li>
                            <li><a href="#evalua">EVALÚA</a></li>
                            <li><a href="#acompa">ACOMPAÑAMIENTO</a></li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
        </div>
    </header>
    <header class="moviles">
        <div class="container">
            <nav class="nav-bar">
              <a href="#" class="nav-branding">
                <img src="../assets/images/logo-blanco.png" class="logo-moviles-desktop" alt="">
              </a>
        
              <ul class="nav-menu">
                <li class="nav-item">
                  <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Contact</a>
                </li>
              </ul>
        
              <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
            </nav>
          </div>
    </header>
    <script>
       
    </script>
    <!---HEADER--->
    <!---SECCION DESCUBRE-->
    <section class="descubreSection" id="descubre">
            <h2 class="titleSection">DESCUBRE</h2>
            <div class="CardsSection">
                <div class="itemSectionDescubre directivosItem"">
                    <div class="topSectionCard">
                        <h2>DIRECTIVOS</h2>
                        <img src="../assets/images/directivos.png" alt="">
                    </div>
                    <div class="contentCards">
                        <div class="rowCards">
                            <h3>Folleto</h3>
                            <h3>Presentación</h3>
                            <h3>Vídeo </h3>
                        </div>
                        <div class="rowCards">
                            <div class="itemCardsRows">
                                <a href="#">
                                    <img src="../assets/images/icon-email.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/icon-email.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/icon-email.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="rowCards">
                            <div class="itemCardsRows">
                                <a href="#">
                                    <img src="../assets/images/descargar.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/descargar.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/descargar.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="rowCards">
                            <div class="itemCardsRows">
                                <a href="#">
                                    <img src="../assets/images/whatsapp.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/whatsapp.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/whatsapp.svg" alt="">
                                </a>
                            </div>
                        </div>
                        

                    </div>

                </div>
                <div class="itemSectionDescubre docentesItem">
                    <div class="topSectionCard">
                        <h2>DOCENTES</h2>
                        <img src="../assets/images/docentes.png" alt="">
                    </div>
                    <div class="contentCards">
                        <div class="rowCards">
                            <h3>Folleto</h3>
                            <h3>Presentación</h3>
                            <h3>Vídeo</h3>
                        </div>
                        <div class="rowCards">
                            <div class="itemCardsRows">
                                <a href="#">
                                    <img src="../assets/images/icon-email.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/icon-email.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/icon-email.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="rowCards">
                            <div class="itemCardsRows">
                                <a href="#">
                                    <img src="../assets/images/descargar.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/descargar.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/descargar.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="rowCards">
                            <div class="itemCardsRows">
                                <a href="#">
                                    <img src="../assets/images/whatsapp.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/whatsapp.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/whatsapp.svg" alt="">
                                </a>
                            </div>
                        </div>
                        

                    </div>

                </div>
                <div class="itemSectionDescubre familasItem">
                    <div class="topSectionCard">
                        <h2>FAMILIAS</h2>
                        <img src="../assets/images/familias.png" alt="">
                    </div>
                    <div class="contentCards">
                        <div class="rowCards">
                            <h3>Folleto</h3>
                            <h3>Presentación</h3>
                            <h3>Vídeo</h3>
                        </div>
                        <div class="rowCards">
                            <div class="itemCardsRows">
                                <a href="#">
                                    <img src="../assets/images/icon-email.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/icon-email.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/icon-email.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="rowCards">
                            <div class="itemCardsRows">
                                <a href="#">
                                    <img src="../assets/images/descargar.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/descargar.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/descargar.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="rowCards">
                            <div class="itemCardsRows">
                                <a href="#">
                                    <img src="../assets/images/whatsapp.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/whatsapp.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../assets/images/whatsapp.svg" alt="">
                                </a>
                            </div>
                        </div>
                        

                    </div>

                </div>
            </div>
            
    </section>

    <!---SECCION DESCUBRE-->
    <!---- SECTION NUESTRA PROPUESTA ---->
    <section class="nuestraPropuesta" id="propuesta" >
        <div class="arrosBack">
        </div>
        <div class="arr-bg">
            <div class="contentNuestraPropuesta">
                <div class="topSectionNuestraPropuesta ">
                    <h2 class="titleNuestraPropuesta">NUESTRA PROPUESTA</h2>
                    <div class="contentSecuenciaDidatica hoverContent">
                        <h2>SECUENCIA DIDÁCTICA</h2>
                        <ul>
                            <li>Activo</li>
                            <li>Aprendo</li>
                            <li>Aplico</li>
                        </ul>
                        <div class="botonBoxSecuencia">
                            <button> <img src="" alt=""> Descargar presentacion</button>
                            <button><img src="" alt="">Ver vídeo</button>
                        </div>
                    </div>
                </div>
                <div class="diagramaContent">
                    <div class="neuropedagogia hoverContent">
                        <h2>NEUROPEDAGOGÍA</h2>
                        <ul>
                            <li>Codificacion</li>
                            <li>Almacenamiento</li>
                            <li>Evocacion</li>
                        </ul>
                        <div class="botonBoxSecuencia">
                            <button> <img src="" alt=""> Descargar presentacion</button>
                            <button><img src="" alt="">Ver vídeo</button>
                        </div>
                    </div>
                    <div class="diagramaImage">
                        <img src="../assets/images/drg.svg" alt="">
                    </div>
                    <div class="evaluacion hoverContent">
                        <h2>EVALUACIÓN</h2>
                        <ul>
                            <li>Diagnóstico</li>
                            <li>Evoca</li>
                            <li>Prueba</li>
                            <li>Refuerza</li>
                        </ul>
                        <div class="botonBoxSecuencia">
                            <button> <img src="" alt=""> Descargar presentacion</button>
                            <button><img src="" alt="">Ver vídeo</button>
                        </div>
                    </div>
                </div>
                <div class="arrosBack2">
                </div>
            </div>
        </div>
    </section>

    <!-- #SECTION NUESTRA PROPUESTA -->

    <!---SECTION EVALUAR PARA APRENDER----->
    <section class="evaluarParaAprender" id="evalua">
        <div class="topSectionEvaluarParaAprender">
            <h2>EVALUAR PARA APRENDER</h2>
            <img src="../assets/images/logo-alcanza.svg" alt="">
        </div>
        <div class="containerBottomEvaluar">
            <div class="containerEvaluar">
                <div class="column1">
                  <div class="Cont">
                    <div class="itemSectionDescubre directivosItem">
                        <div class="topSectionCard">
                            <h2>EVALUACIONES</h2>
                            <img src="../assets/images/docentes.png" alt="">
                        </div>
                        <div class="contentCards evaluar">
                            <img src="../assets/images/pleno.png" alt="">
                            <button>Ver Video</button>
                        </div>
    
                    </div>
                  </div>
                </div>
                <div class="column2">
                  <div class="Cont">
                    <div class="contIntemEvaluar">
                        <h3>DIRECTIVOS</h3>
                        <div class="contentSmallItems">
                            <img src="../assets/images/pc.png" alt="">
                            <h4>VISITA NUESTRO DEMO</h4>
                        </div>
                    </div>
                  </div>
                  <div class="Cont">
                    <div class="contIntemEvaluar">
                        <h3>DIRECTIVOS</h3>
                        <div class="contentSmallItems">
                            <img src="../assets/images/pc.png" alt="">
                            <h4>VISITA NUESTRO DEMO</h4>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="column3">
                  <div class="Cont">
                    <div class="contIntemEvaluar stats">
                        <img src="../assets/images/evaluar.png" alt="">
                    </div>
                   
                  </div>
                  <div class="Cont">
                    <div class="contIntemEvaluar2">
                        <div class="contentSmallItems">
                           <h3 class="modeloTitle">MODELO DE REPORTES</h3>
                                <div class="rowCards2">
                                    <div class="itemCardsRows">
                                        <a href="#">
                                            <img src="../assets/images/icon-email.svg" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="../assets/images/icon-email.svg" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="../assets/images/icon-email.svg" alt="">
                                        </a>
                                    </div>
                                </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>
    <!------SECTION EVALUAR PARA APRENDER---------->
    <!-----------ACOMPAÑAMIENTO---------------->
    <section class="descubreSection acpt" id="acompa" style="display: none;">
        <h2 class="titleSectionacpt">ACOMPAÑAMIENTO</h2>
        <div class="CardsSectionacpt">
            <div class="itemSectionDescubreacpt directivosItemacpt">
                <div class="topSectionCardacpt">
                    <h2>DIAGNOSTICA</h2>
                    <img src="../assets/images/fondo_1.png" alt="">
                </div>
                <div class="contentCardsacpt">
                    <ul>
                        <li>
                            Conocimientos, habilidades y capacidades en matemática y lenguaje
                        </li>
                    </ul>
                 
                </div>

            </div>
            <div class="itemSectionDescubreacpt docentesItemacpt">
                <div class="topSectionCardacpt">
                    <h2>ACTIVA</h2>
                    <img src="../assets/images/fondo_2.png" alt="">
                </div>
                <div class="contentCardsacpt">
                   
                    <ul>
                        <li>
                            Metodologías para aprender a aprender
                        </li>
                        <li>
                            Refuerza y evoca conocimientos
                        </li>
                        <li>
                            Acompaña la gestión del aula
                        </li>
                    </ul>
                </div>

            </div>
            <div class="itemSectionDescubreacpt familasItemacpt">
                <div class="topSectionCardacpt">
                    <h2>FACILITA</h2>
                    <img src="../assets/images/fondo_3.png" alt="">
                </div>
                <div class="contentCardsacpt">
                  
                    <ul>
                        <li>
                            Metodologías para aprender a aprender
                        </li>
                        <li>
                            Refuerza y evoca conocimientos
                        </li>
                        <li>
                            Acompaña la gestión del aula
                        </li>
                    </ul>
                </div>

            </div>
            <div class="itemSectionDescubreacpt familasItemacptTransforma">
                <div class="">
                    <img src="../assets/images/transforma.png" class="logoTrans" alt="">
                </div>
                <div class="contentCardsacpt">
                    <div class="rowCards23">
                        <div class="itemCardsRows">
                            <a href="#">
                                <img src="../assets/images/icon-email.svg" alt="">
                            </a>
                            <a href="#">
                                <img src="../assets/images/icon-email.svg" alt="">
                            </a>
                            <a href="#">
                                <img src="../assets/images/icon-email.svg" alt="">
                            </a>
                        </div>
                        <div class="botonBoxSecuencia">
                            <button><img src="" alt="">Ver vídeo</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </section>
    
    
    <!-----------ACOMPAÑAMIENTO---------------->
    <footer class="footer">
        <img src="../assets/images/logo-blanco.png" alt="">
        <script>
            const hamburger = document.querySelector(".hamburger");
            const navMenu = document.querySelector(".nav-menu");

            hamburger.addEventListener("click", () => {

            /* Toggle active class */
            hamburger.classList.toggle("active");
            navMenu.classList.toggle("active");

            /* Toggle aria-expanded value */
            let menuOpen = navMenu.classList.contains("active");
            console.log(menuOpen)
            let newMenuOpenStatus = menuOpen;
            hamburger.setAttribute("aria-expanded", newMenuOpenStatus);
            })

            // close mobile menu
            document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
            hamburger.classList.remove("active");
            navMenu.classList.remove("active");
            //   Need to add Toggle aria-expanded value here as well because it stays as true when you click a menu item
            }))
        </script>
    </footer>
  </body>
</html>